<!DOCTYPE html>
<html>
<head>
  <title>Selectablemedia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
  $(function(){
    var h = $(document).height();
    top.$('iframe', '#btn-popup').attr({
      height: h
    });
    top.$('#loading').hide();
  });
  </script>
</head>
<body class="popup">
  <%= yield %>
</body>
</html>